/* White Page Styling */

body {
  line-height: 35px;
}

p {
  font-weight: bold;
}

.experiment-content {
  border-radius: 2px;
  padding: 100px 180px 100px;
  margin-bottom: 80px;
}

/* Move text below buttons */

.mdl-radio__label {
  display: inline-block;
  width: 10em;
  padding-top: 1.5em;
  transform: translate(-53%,0%);
  text-align: center;
}

.mdl-radio {
  float: left;
  width: 150px;
  margin-left: 30px;
}

.mdl-cell--8-col, .mdl-cell--8-col-desktop.mdl-cell--8-col-desktop {
	width: 1300px;
}


/* Add gray line for Likert */

form p:before {
  content: '';
  position:relative;
  top:53px;
  left:50px;
  display:block;
  background-color:#efefef;
  height:4px;
  width:700px;
}

.mdl-radio.is-checked .mdl-radio__outer-circle {
  background-color:transparent;
}

.mdl-radio__outer-circle{
  background-color:white;
}
