/* White Page Styling */

body {
  line-height: 25px;
}

p {
  font-weight: bold;
}

.experiment-content {
  border-radius: 2px;
  padding: 100px 180px 100px;
  margin-bottom: 80px;
}

/* Move text below buttons */

.mdl-radio__label {
  display: inline-block;
  width: 10em;
  padding-top: 1.5em;
  transform: translate(-53%,0%);
  text-align: center;
}

.mdl-radio {
  float: left;
  width: 100px;
  margin-left: 48px;
}

.mdl-cell--8-col, .mdl-cell--8-col-desktop.mdl-cell--8-col-desktop {
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.mdl-cell--2-col, .mdl-cell--2-col-desktop.mdl-cell--2-col-desktop {
  width: calc(0%)
}

.wizard-step {
  margin-left: auto;
  margin-right: auto;
}


/* Add gray line for Likert */

form p:before {
  content: '';
  position:relative;
  top:53px;
  left:61px;
  display:block;
  background-color:#efefef;
  height:4px;
  width:592px;
}

.mdl-radio.is-checked .mdl-radio__outer-circle {
  background-color:transparent;
}

.mdl-radio__outer-circle{
  background-color:white;
}

form #alcohol_survey_6_options:before,
	#alcohol_survey_7_options:before,
	#alcohol_survey_9_options:before,
	#alcohol_survey_11_options:before {
	top: 78px;
}

form #alcohol_survey_10_options:before,
	#alcohol_survey_11_options:before{
	width: 444px;
}
