.mdl-radio__label {
  display: inline-block;
    width: 10em;
    padding-top: 1.5em;
    transform: translate(-53%,0%);
    text-align: center;
}

.mdl-radio {
	float: left;
	width: 100px;
	margin-left: 48px;
}

.experiment-content {
	padding: 80px 100px;
	margin-bottom: 0px;
}

.mdl-cell--8-col, .mdl-cell--8-col-desktop.mdl-cell--8-col-desktop {
	width: 800px;
}

body {
	line-height: 25px;
}

p {
	font-weight: bold;
}
/*
form p:before {
  content: '';
  position:relative;
  top:53px;
  left:61px;
  display:block;
  background-color:#efefef;
  height:4px;
  width:435px;
}
*/

form .current .mdl-radio:nth-child(3n):before {
    content: '';
    position: relative;
    top: 10px;
    left: -10px;
    display: block;
    background-color: #efefef;
    height: 4px;
    width: 135px;
}


form .current .mdl-radio:nth-child(3n+1):before {
    content: '';
    position: relative;
    top: 10px;
    left: -10px;
    display: block;
    background-color: #efefef;
    height: 4px;
    width: 135px;
}

